html
	head
		title= title
		link(href='/styles/bootstrap.min.css')
		script(src='/scripts/jquery.min.js')
		script(src='/scripts/popper.min.js')
		script(src='/scripts/bootstrap..min.js')
	body
		block header
		block content
		block footer